---
layout: compress
---

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{site.baseurl}}/css/home.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico" />
</head>
<body>
    <header>
        <a href="{{site.baseurl}}">
            <div class="brand">
                <img class="logo" src="{{site.baseurl}}/images/webjeda-slides.svg" alt="webjeda-slides">
                <h1 class="headline">{{site.title}}</h1>
            </div>
        </a>
    </header>
    <div class="pack">
        <p class="head-text">Bienvenido a los capitulos del libro Data Communications and Networking By Behrouz A.Forouzan </p>

        <p style="position: fixed; bottom: 0; left: 0; margin: 10px;">
            <a href="https://github.com/JUANMIGUELLEONCUPUL/diapositivas" target="_blank">
              <img src="../diapositivas/images/micuenta.png" alt="click para dirigirte a mi cuenta de GitHub">
            </a>
          </p>
          
        <!-- Presentación para Episodio 7 -->
        {% for post in site.posts %}
            {% if post.title == "Episodio 7" %}
                <a target="_blank" class="link" href="{{site.baseurl}}{{post.url}}">
                    <div class="card" style="background-color: #e74c3c;">
                        <div class="card-number">2</div>
                        <div class="card-title">{{ post.title }}</div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}

        <!-- Presentación para Episodio 10 -->
        {% for post in site.posts %}
            {% if post.title == "Episodio 10" %}
                <a target="_blank" class="link" href="{{site.baseurl}}{{post.url}}">
                    <div class="card" style="background-color: #1abc9c;">
                        <div class="card-number">1</div>
                        <div class="card-title">{{ post.title }}</div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}

    </div>
    {% include analytics.html %}
</body>
</html>
